$HEADER_HEIGHT: 54px;
$PADDING_ASIDE: 12px;

$WIDTH_CONTAINER: 640px;
$PADDING_CONTAINER_TOP: 24px;
$PADDING_CONTAINER_BOTTOM: 120px;

$breakpoint: $WIDTH_CONTAINER;

@mixin background {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

@mixin media-sm {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{$breakpoint + 1}) {
    @content;
  }
}
