@use "variables";

.header {
  height: variables.$HEADER_HEIGHT;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  padding: 0 variables.$PADDING_ASIDE;
  border-bottom: 0.5px solid #171717;

  & > .container {
    display: flex;
    width: 100%;
    max-width: variables.$WIDTH_CONTAINER;

    & > .center {
      flex-grow: 1;
      justify-content: center;

      & > svg {
        width: 24px;
        fill: #ffffff;
      }
    }

    & > div {
      display: flex;
      align-items: center;
    }

    & > .right {
    }
  }
}

@include variables.media-sm {
}

@include variables.media-lg {
}
