@use "./styles/variables" as variables;

.container {
  margin-top: variables.$HEADER_HEIGHT;
  width: 100%;
  max-width: variables.$WIDTH_CONTAINER;
  min-height: 100vh;
  padding-top: variables.$PADDING_CONTAINER_TOP;
  padding-left: variables.$PADDING_ASIDE;
  padding-right: variables.$PADDING_ASIDE;
  padding-bottom: variables.$PADDING_CONTAINER_BOTTOM;
}

@include variables.media-sm {
}

@include variables.media-lg {
}
