@use "./styles/variables" as variables;

.container {
  margin-top: variables.$HEADER_HEIGHT;
  width: 100%;
  max-width: variables.$WIDTH_CONTAINER;
  min-height: 100vh;
  padding: 0 variables.$PADDING_ASIDE;
  padding-top: variables.$PADDING_CONTAINER_TOP;
}
